body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  margin: 0;
  color: #f9faf8;
}

.header {
  display: flex;
  justify-content: space-between;
  color: #f9faf8;
  font-size: 24px;
  padding: 20px 280px;
}

.top {
  display: flex;
  justify-content: space-between;
  padding: 100px 280px;
}

.center_top {
  background: #1f2937;
}

.head {
  font-weight: 800;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 16px;
}

a:link {
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
}
a:visited {
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
}

p,
.container {
  font-size: 18px;
  color: #e5e7eb;
}

button {
  background-color: #3882f6;
  color: white;
  border: none;
  padding: 10px 28px;
  border-radius: 8px;
  font-weight: bold;
}

.container {
  background: rgb(113, 113, 113);
  width: 600px;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left_top {
  max-width: 450px;
}

.info_title {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  padding: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle_images {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.middle {
  text-align: center;
  margin-bottom: 120px;
}

.box {
  width: 150px;
  height: 150px;
  border: #3882f6;
  border-style: solid;
  border-radius: 12px;
  border-width: 4px;
}

.info {
  max-width: 150px;
}

.text {
  color: rgb(82, 79, 79);
  margin-top: 6px;
}

.quote_section {
  background-color: #e5e7eb;
  padding: 150px 120px;
}

.quote {
  font-size: 36px;
  color: #1f2937;
  width: 820px;
  margin: auto;
}

.author {
  color: #1f2937;
  font-weight: 900;
  display: flex;
  justify-content: center;
  margin-left: 600px;
  font-size: 20px;
}
